/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #F4EDEB;
  color: #555;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

/* Header Styles */
header {
  background-color: #6F4E37; /* Chocolate color */
  padding: 10px;
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 20px;
}

.logo img {
  width: 50px;
  height: 50px;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  color: #F4EDEB; /* Light font color */
  text-decoration: none;
  transition: background-color 0.3s ease;
  padding: 10px;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: #BD8465; /* Chocolate-adjacent color */
}

/* Hero Section Styles */
.hero {
  background-image: url(/imgs/chocolate-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
  text-align: center;
  color: #F4EDEB; /* Lighter font color */
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

/* Section Styles */
section {
  padding: 40px 0;
}

section h1,h2,h3,h4,h5 {
  margin-bottom: 10px;
  padding-top: 10px;
}

section p {
  margin-bottom: 20px;
  line-height: 1.6;
}

section ul,
section ol {
  margin-bottom: 20px;
  padding-left: 20px;
}

/* Main Content Link Styles */
section a {
  color: #BD8465; /* Chocolate-adjacent color */
  text-decoration: none;
  transition: color 0.3s ease;
}

section a:hover {
  color: #FF0000;
}

/* Footer Styles */
footer {
  background-color: #6F4E37; /* Chocolate color */
  padding: 20px 0;
  color: #F4EDEB;
  text-align: center;
}

.social-icons a {
  color: #BD8465; /* Chocolate-adjacent color */
  font-size: 24px;
  margin-right: 10px;
}

.social-icons a:hover {
  color: #FF0000;
}
